{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Skill list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Namerussian</th>
                <th>Description</th>
                <th>Modificators</th>
                <th>Attribute</th>
                <th>Difficulty</th>
                <th>Bydefault</th>
                <th>Tl</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('skill_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.nameRussian }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.modificators }}</td>
                <td>{{ entity.attribute }}</td>
                <td>{{ entity.difficulty }}</td>
                <td>{{ entity.byDefault }}</td>
                <td>{{ entity.TL }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('skill_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('skill_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('skill_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
