{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Skill</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Namerussian</th>
                <td>{{ entity.nameRussian }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Modificators</th>
                <td>{{ entity.modificators }}</td>
            </tr>
            <tr>
                <th>Attribute</th>
                <td>{{ entity.attribute }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ entity.difficulty }}</td>
            </tr>
            <tr>
                <th>Bydefault</th>
                <td>{{ entity.byDefault }}</td>
            </tr>
            <tr>
                <th>Tl</th>
                <td>{{ entity.TL }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('skill') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('skill_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
